.box ::after {
    content: "";
    width: 5px;
    height: 20px;
    background: blue;
    display: inline-block;
    animation: cursor-blink 1.5s steps(2) infinite;
  }
  @keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }

  @media only screen and (min-width: 820px){
  .abc{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
position: absolute;
left: calc(68% - 433.96px/2 + 40.61px);
top: calc(45% - 600.32px/2 - 17.61px);
/* Color/Brand 60 */
border-radius: 21.6982px;
transform: rotate(12deg);
  }

  .abcd{
    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
position: absolute;
left: calc(66.7% - 433.96px/2 + 40.61px);
top: calc(43% - 600.32px/2 - 17.61px);
/* Color/Brand 60 */
border-radius: 21.6982px;
transform: rotate(8deg);
  }

  .dot{
    height: 15px;
    width: 15px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
  }
  .dot1{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
  }
}