#h1{
    width: 344px;
height: 64px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 28px;
line-height: 32px;
/* or 114% */

letter-spacing: -0.01em;
font-feature-settings: 'tnum' on, 'lnum' on;

/* Mono/90 */

color: #18181B;


/* Inside auto layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}

.otp-paragraph{
    width: 344px;
height: 48px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* or 150% */


/* Mono/50 */

color: #7A7A85;


/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}


.otp-back-button{
    width: 39px;
height: 24px;

/* Body accent */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

/* Color/Brand 50 */

color: #0858F7;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.otp-resend-button{
    width: 90px;
height: 24px;

/* Body accent */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

/* Mono/20 */

color: #CACACE;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}

.otp-inputs{
    box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 48px;
height: 56px;

/* Mono/0 */

background: #FFFFFF;
/* Color/Brand 50 */

border: 1px solid #0858F7;
box-shadow: 0px 0px 0px 4px rgba(0, 85, 255, 0.2);
border-radius: 12px;

/* Inside auto layout */

flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
}

.otp-timer{
    width: 90px;
height: 24px;

/* Body accent */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;

/* Mono/20 */

color: #CACACE;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}